p{
    font-family:'Island Moments','Licorice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;          
}
div
{
    font-family:'Island Moments','Licorice','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;     
}
